@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>.</p>
</div>
