@model TeamsViewModel
@{
    ViewData["Title"] = "Teams Page";
}

<div class="row">
    <div class="col-4">
        <h2>Teams</h2>
        <div id='teams-list' class="list-group">
            loading...
        </div>
    </div>

    <div id="players" class="col-4" style="display: none;">
        <h2>Players</h2>
        <div id='players-list' class="list-group">
            loading...
        </div>
    </div>
</div>

@section scripts
{
    <environment names="Development">
        <script src="~/js/app/teams/teams.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/bundles/teams.min.js"></script>
    </environment>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).initTeamsFunctionality({ servicesApiUrl: '@Model.NbaServicesApiUrl' });
        });
    </script>
}